<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Light Gradient</title>
    <link href="../static/index.css" rel="stylesheet">
</head>
<body>
    <center>
        <h1> Light Gradient Thingy</h1>
        <div class="slidecontainer">    21`
            <p class="output"> 0 </p>
            <input type="range" min="0" max="255" value="0" class="slider">
        </div>
        <div class="slidecontainer">
            <p class="output"> 0 </p>
            <input type="range" min="0" max="255" value="0" class="slider">
        </div>
        <div class="slidecontainer">
            <p class="output"> 0 </p>
            <input type="range" min="0" max="255" value="0" class="slider">
        </div>
        <button class="button" onclick="sendRequest('change')"> <h2> Input Me </h2> </button>
    </center>

    <script src="../static/index.js"></script>
</body>
</html>